﻿<%@ Page Title="Browse Taxonomy" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="taxonomybrowse.aspx.cs" Inherits="GrinGlobal.Web.TaxonomyBrowse" MaintainScrollPositionOnPostback="true" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <script  type='text/javascript'>
        $(document).ready(function() {
            $("#<%= txtGenus.ClientID %>").keyup(function() {
                var searchTxt = this.value;
                var options = {
                    type: "POST",
                    url: "taxonomybrowse.aspx/GetGenusList",
                    data: "{ searchText: '" + searchTxt + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                    $("#<%= txtGenus.ClientID %>").autocomplete(response.d).trigger("focus");
                    }
                };
                $.ajax(options);
            });

            $("#<%= txtSpecies.ClientID %>").keypress(function() {
                var searchTxt = this.value;
                var options = {
                    type: "POST",
                    url: "taxonomybrowse.aspx/GetSpeciesList",
                    data: "{ searchText: '" + searchTxt + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        $("#<%= txtSpecies.ClientID %>").autocomplete(response.d).trigger("focus");
                    }
                };
                $.ajax(options);
            });
       });
    </script>
  
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphBody" runat="server">
    <br /> <center><h2><b>Browse Taxonomy in GRIN-Global</b></h2></center>
    <div class='box' style="width: 970px">
        <%= Page.DisplayText("htmlRestrictGenus", "Restrict to Genus that")%> <asp:DropDownList ID="ddlGenusCompare" runat="server">
            <asp:ListItem Value="exactlymatch" Text="exactly match" />
            <asp:ListItem Value="contain" Text="contain" />
            <asp:ListItem Value="startwith" Text="start with" />
            <asp:ListItem Value="endwith" Text="end with" />
        </asp:DropDownList>: <asp:TextBox ID="txtGenus" runat="server" Width="200px"></asp:TextBox><br />
        <%= Page.DisplayText("htmlRestrictSpecies", "Restrict to Species that")%> <asp:DropDownList ID="ddlSpeciesCompare" runat="server">
            <asp:ListItem Value="exactlymatch" Text="exactly match" />
            <asp:ListItem Value="contain" Text="contain" />
            <asp:ListItem Value="startwith" Text="start with" />
            <asp:ListItem Value="endwith" Text="end with" />
        </asp:DropDownList>: <asp:TextBox ID="txtSpecies" runat="server" Width="200px"></asp:TextBox><br />
        <asp:CheckBox ID="chkExclude" runat="server" Text="Exclude Empty Items" /><br /><br />
        <%= Page.DisplayText("lblGroupBy", "Group By")%>: <asp:RadioButtonList id="rblViewBy" runat="server"
            RepeatDirection="Horizontal"  RepeatLayout="Flow">
            <asp:ListItem Value="family" Text="Family"></asp:ListItem>
            <asp:ListItem Value="genus" Text="Genus"></asp:ListItem>
            <asp:ListItem Value="species" Text="Species" Selected="True"></asp:ListItem>
        </asp:RadioButtonList><br />
        <%= Page.DisplayText("lblOrderBy", "Order By")%>: &nbsp;<asp:RadioButtonList ID="rblOrderBy" runat="server" 
            RepeatDirection="Horizontal" RepeatLayout="Flow" >
            <asp:ListItem Value="name" Text="Name" Selected="True"></asp:ListItem>
            <asp:ListItem Value="accessioncount" Text="Accession Count"></asp:ListItem>
        </asp:RadioButtonList><br />
        <br />
        <asp:Button ID="btnGo" runat="server" Text="Go" onclick="btnGo_Click" />
    </div><br />
<asp:TreeView ID="tvTaxonomy" runat="server" AutoGenerateDataBindings="false" 
        onselectednodechanged="tvTaxonomy_SelectedNodeChanged" 
        ontreenodeexpanded="tvTaxonomy_TreeNodeExpanded" 
        ontreenodepopulate="tvTaxonomy_TreeNodePopulate" Font-Bold="True" ShowLines="False">
    
</asp:TreeView><br />
</asp:Content>
